@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.shadow-text {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  aspect-ratio: 9/16;
  object-fit: cover;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 768px) {
  .content-container {
    padding: 10px;
  }
  
  footer {
    bottom: 5px;
    right: 5px;
    font-size: 0.8rem;
  }
  .text-4xl {
    font-size: 1.75rem;
  }
  
  .text-5xl {
    font-size: 2rem;
  }
}

/* New styles for the background images and content container */
.app-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.background-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: auto;
  z-index: 2;
  background: transparent;  /* Ensure the background is transparent */
}