@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any custom styles here */
body.dark {
  @apply bg-gray-900 text-white;
}

.champ-button {
  @apply text-white font-medium py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-300 transition duration-300 ease-in-out flex items-center justify-center
}